body {
    background: url("https://i.postimg.cc/PqNrCqd3/20230820-184849.jpg") no-repeat center center fixed;
    background-size: cover;
}


.floating-menu {
    position: absolute;
    left: 50%; /* Pusat horizontal */
    bottom: -5px; /* Pusat vertikal di bagian bawah layar */
    transform: translateX(-50%); /* Geser menu horizontal ke tengah */
    justify-content: center; /* Pusat konten horizontal */
    align-items: center; /* Pusat konten vertikal */
    z-index: 6;
}


.menu-item1 {
    display: block;
    cursor: pointer;
}

.menu-item {
    display: block;
    cursor: pointer;
}

#menu-1 {
    display: block;
}

#menu-1 img {
    width: 110px;
    height: auto;
}

#menu-2 {
    display: none;
    z-index: 7;
}

#menu-2 img {
    width: 150px;
    height: auto;
}

#sub-menu-1 {
    display: none;
    transform: translate(-30px, 250px);
    transition-delay: .05s;
    z-index: 8;
}

#sub-menu-2 {
    display: none;
    transform: translate(13px, 145px);
    transition-delay: .1s;
    z-index: 8;
}


#sub-menu-3 {
    display: none;
    transform: translate(75px, 79px);
    transition-delay: .15s;
    z-index: 8;
}


#sub-menu-4 {
    display: none;
    transform: translate(119px, 55px);
    transition-delay: .20s;
    z-index: 8;
}

#sub-menu-3 img {
    width: 62px;
    height: auto;
}

#sub-menu-1 img, #sub-menu-2 img, #sub-menu-4 img {
    width: 60px;
    height: auto;
}
